@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Thai:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open_Sans_Condensed";
  src: url("./assets/font/open-sans-condensed/OpenSans-CondBold.ttf")
      format("woff2"),
    url("./assets/font/open-sans-condensed/OpenSans-CondLight.ttf")
      format("woff"),
    url("./assets/font/open-sans-condensed/OpenSans-CondLightItalic.ttf")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* scrollbar hidden start  */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
/* scrollbar hidden end  */

/* background image start */
.banner__background {
  background-image: url("./assets/images/banner/banner.webp");
}
.it__support {
  background-image: url("./assets/images/it-support/it-support.webp");
}
.subscribe {
  background-image: url("./assets/images/subscribe/subscribe.webp");
}
.footer {
  background-image: url("./assets/images/footer/footer.png");
}
.about {
  background-image: url("./assets/images/about/about.webp");
}
.about_mobile {
  background-image: url("./assets/images/about/about-mobile.webp");
}
.service_detail_header {
  background-image: url("./assets/images/service-detail/service-detail-header.webp");
}
.blog_header {
  background-image: url("./assets/images/blog/blog-header.webp");
}
.blog_hero_bg {
  background-image: url("./assets/images/blog-detail/blog-bg.webp");
}
.not_found {
  background-image: url("./assets/images/not-found/404-error-bg.webp");
}
/* background image end */
.about-bg {
  background: rgba(0, 0, 0, 0.54);
}

.navlink.active {
  /* @apply border border-[#5A5B5C] rounded-lg w-[69px] h-11 ; */
  @apply border border-[#6A6A6A] rounded-lg py-2;
}

.backdrop {
  background: rgba(251, 251, 251, 0.03);
  backdrop-filter: blur(10.5px);
}

.mobile-menu {
  right: 241px;
}
.mobile-menu.show {
  right: 0;
}

/* swiper slider start  */
.swiper-pagination-bullets .swiper-pagination-bullet {
  @apply bg-primary w-3 h-3 transition-all duration-300 ease-in;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  @apply h-3 w-8 rounded-lg;
}

/* swiper slider end */

/* testimonial start  */
.testimonial .swiper-slide {
  padding-top: 40px;
}

.testimonial .swiper-slide-active .testimonial-avatar {
  @apply h-20 w-20 -mt-10 mb-4 border-primary;
}
.testimonial .swiper-slide-active .testimonial-name {
  @apply text-xl mb-3;
}
.testimonial .swiper-slide-active .testimonial-date {
  @apply text-sm;
}
.testimonial .swiper-slide-active .testimonial-comment {
  @apply text-lg text-black/60;
}
.testimonial .swiper-slide-active .testimonial-card {
  @apply p-6;
}
/* testimonial end  */
